{% extends 'mentor/mentor_base.html' %} 
{% load static %}
{% block content %}

  <main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>Our Vision</h2>
        <p>Our vision is for individuals worldwide to have the ability to transform their lives through project-based learning, regardless of their location.</p>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="assets/img/about.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>Our Story</h3>
            <p>We know that learning is the foundation of human progress. Project-based learning is even more powerful as it allows individuals to solve problems while they learn. It has the potential to bring about positive changes, transform our world from sickness to wellness, poverty to prosperity, and conflict to peace. Additionally, project-based learning can empower us to change and redefine what is achievable, regardless of our backgrounds or locations. Access to quality education is a right and not a privilege, which is why Project School Partners focus on providing excellent learning opportunities worldwide. Our mission is to empower anyone, anywhere, to transform their lives through learning.</p>
            <p> <!-- <p class="fst-italic"> -->
              Project School was founded with the goal of offering life-changing project-based learning to individuals worldwide. Currently, Project School is a renowned platform that facilitates online learning and career advancement, providing access to online courses from trusted partners. To date, learners across the world have leveraged Coursera's resources to access top-quality education at their convenience.
            </p>
            <!-- 
            <ul>
              <li><i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
              <li><i class="bi bi-check-circle"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
              <li><i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
            </ul>
            <p>
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
            </p>
             -->
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts section-bg">
      <div class="container">

        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="1232" data-purecounter-duration="1" class="purecounter"></span>
            <p>Students</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="64" data-purecounter-duration="1" class="purecounter"></span>
            <p>Courses</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="42" data-purecounter-duration="1" class="purecounter"></span>
            <p>Events</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
            <p>Trainers</p>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Testimonials</h2>
          <p>What are they saying</p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                  <h3>Tessy Nwaogu</h3>
                  <h4>Ceo &amp; Founder</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    I had always believed that coding was something beyond my capabilities, and as someone who had spent 10 years working in the banking industry, I was hesitant to waste my time on something that seemed so intimidating. However, when a friend recommended that I try learning Web Development with Python through Project School, I decided to give it a shot. To my surprise, I found that coding wasn't as difficult as I had initially thought, and my exercises were both engaging and challenging. I owe my newfound love for coding to the exceptional teaching abilities of Daniel, my instructor at Project School. He has a talent for breaking down complex concepts into easily digestible pieces, explaining each code line by line until I fully understand what's happening. I am grateful to Project School for providing me with such a fantastic instructor and for helping me overcome my fear of coding.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                  <h3>Sara Wilsson</h3>
                  <h4>Designer</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    I had always believed that coding was something beyond my capabilities, and as someone who had spent 10 years working in the banking industry, I was hesitant to waste my time on something that seemed so intimidating. However, when a friend recommended that I try learning Web Development with Python through Project School, I decided to give it a shot. To my surprise, I found that coding wasn't as difficult as I had initially thought, and my exercises were both engaging and challenging. I owe my newfound love for coding to the exceptional teaching abilities of Daniel, my instructor at Project School. He has a talent for breaking down complex concepts into easily digestible pieces, explaining each code line by line until I fully understand what's happening. I am grateful to Project School for providing me with such a fantastic instructor and for helping me overcome my fear of coding.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                  <h3>Jena Karlis</h3>
                  <h4>Store Owner</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    I had always believed that coding was something beyond my capabilities, and as someone who had spent 10 years working in the banking industry, I was hesitant to waste my time on something that seemed so intimidating. However, when a friend recommended that I try learning Web Development with Python through Project School, I decided to give it a shot. To my surprise, I found that coding wasn't as difficult as I had initially thought, and my exercises were both engaging and challenging. I owe my newfound love for coding to the exceptional teaching abilities of Daniel, my instructor at Project School. He has a talent for breaking down complex concepts into easily digestible pieces, explaining each code line by line until I fully understand what's happening. I am grateful to Project School for providing me with such a fantastic instructor and for helping me overcome my fear of coding.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                  <h3>Matt Brandon</h3>
                  <h4>Freelancer</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    I had always believed that coding was something beyond my capabilities, and as someone who had spent 10 years working in the banking industry, I was hesitant to waste my time on something that seemed so intimidating. However, when a friend recommended that I try learning Web Development with Python through Project School, I decided to give it a shot. To my surprise, I found that coding wasn't as difficult as I had initially thought, and my exercises were both engaging and challenging. I owe my newfound love for coding to the exceptional teaching abilities of Daniel, my instructor at Project School. He has a talent for breaking down complex concepts into easily digestible pieces, explaining each code line by line until I fully understand what's happening. I am grateful to Project School for providing me with such a fantastic instructor and for helping me overcome my fear of coding.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                  <h3>John Larson</h3>
                  <h4>Entrepreneur</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    I had always believed that coding was something beyond my capabilities, and as someone who had spent 10 years working in the banking industry, I was hesitant to waste my time on something that seemed so intimidating. However, when a friend recommended that I try learning Web Development with Python through Project School, I decided to give it a shot. To my surprise, I found that coding wasn't as difficult as I had initially thought, and my exercises were both engaging and challenging. I owe my newfound love for coding to the exceptional teaching abilities of Daniel, my instructor at Project School. He has a talent for breaking down complex concepts into easily digestible pieces, explaining each code line by line until I fully understand what's happening. I am grateful to Project School for providing me with such a fantastic instructor and for helping me overcome my fear of coding.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

  </main><!-- End #main -->


  {% endblock content %}